@font-face {
  font-family: "Alumni Sans";
  src: url("../fonts/AlumniSans-VariableFont_wght.woff") format("woff");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("../fonts/AlumniSans-Italic-VariableFont_wght.woff") format("woff");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/* fonts for all */

.brand__text strong,
h1,
h2,
h3,
.subheading,
.nav-menu a,
.theme-switch-text,
.site-footer li {
  font-family: var(--font-sans);
}

.about-card__overlay h3 {
  font-size: clamp(1.4rem, 3vw, 2.1rem);
  line-height: 1;
}
